{% extends 'crud/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid px-5">
  
  <h1 class="text-center">Pipelines All</h1>
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>
      {% endfor %}  
  {% endif %}
  <p class="text-end">Type: [&#10004; : One-Time , &#10060; : Rental/Managed ]  &nbsp;&nbsp;&nbsp;Value: [ in Million Rp ]</p>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Dir</th>
        <th scope="col">Salesperson Name</th>
        <th scope="col">PID</th>
        <th scope="col">Client</th>
        <th scope="col">Project</th>
        <th scope="col">Type</th>
        <th scope="col">n x</th>
        <th scope="col">Level</th>
        <th scope="col" class="text-end">Value</th>
        <th scope="col" class="text-end">GPM</th>
        <th scope="col">SO Date</th>
        <th scope="col">BAST Date</th>
        <th scope="col">Action</th>
        <th scope="col"></th>
        <th scope="col"><a href="{% url 'pipeline-create' %}" class="btn btn-outline-light btn-sm"> + add&nbsp;</a></th>
      </tr>
    </thead>
    <tbody>
    {% for row in object_list %}
      <tr>
        <td>{{ row.directorate }}</td>
        <td>{{ row.ambm }}</td>
        <td>{{ row.pid }}</td>
        <td>{{ row.client }}</td>
        <td>{{ row.project }}</td>
        <td>{% if row.onetime == True %}&#10004;{% else %}&#10060;{% endif %}</td>
        <td>{{ row.nmonth }}</td>
        <td>{{ row.level }}</td>
        <td class="text-end">{{ row.order_val_inmill }}</td>
        <td class="text-end">{{ row.format_gpm }}</td>
        <td>{{ row.format_order_dd }}</td>
        <td>{{ row.format_bast_dd }}</td>
        <td>
          <a href="{% url 'pipeline-detail' pk=row.id %}" class="btn btn-outline-success btn-sm">view</a>
        </td>
        <td>
          <a href="{% url 'pipeline-update' pk=row.id %}" class="btn btn-outline-primary btn-sm">update</a>
        </td>
        <td>
          <a href="{% url 'pipeline-delete' pk=row.id %}" class="btn btn-outline-danger btn-sm">delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">last &raquo;</a>
        {% endif %}
    </span>
  </div>

</div>
{% endblock content %}