{% extends 'crud/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Detail
{% endblock title %}


{% block content %}
<div class="container mt-3 p-3 bg-light" style="width:800px;">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}  
    {% endif %}

    <div>
        
        <h3>Detail Pipeline</h3>

        <!-- non-field-errors location -->
        
        
        <div class="row">
            <div class="col-3">
                Directorate : {{ object.directorate }}
            </div>
            <div class="col-9">
                Salesperson : {{ object.ambm }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                PID : {{ object.pid }}
            </div>
            <div class="col-9">
                Client : {{ object.client }}
            </div>
        </div>
        Project : {{ object.project }}
        
        <div class="row">
            <div class="col-3">
                Onetime : {{ object.onetime }}
            </div>
            <div class="col-9">
                x Months : {{ object.nmonth }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Value : Rp. {{ object.order_val_inmill }} Million
            </div>
            <div class="col-9">
                GPM : {{ object.gpm }}%
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Level : {{ object.level }}
            </div>
            <div class="col-5">
                SO Date : {{ object.order_dd }}
            </div>
            <div class="col-4">
                BAST Date : {{ object.bast_dd }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a href="{% url 'pipeline-list' %}" class="btn btn-outline-dark">Done</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}